<form ng-submit="submit()">
  <a href="" ng-click="goToTest()">Test</a>
  <a href="" ng-click="goToAlert()">Alertas</a>

  <p ng-show="errorMessage">Mensagem de erro</p>

  <input ng-model="email">

  <input type="submit">

  <span ng-show="submitting">SPINNER</span>
</form>
